@use "../../styles/fn" as fn;
@use "../../styles/common" as *;

$stage-width: 1000px;
$stage-height: 768px;
$bg-color: black;
$navi-color: #ccc;

$aspect: #{125 / 96};
$duration: 1s;

@include fn.body($bg-color);
@include fn.navi($navi-color);
@include fn.generate-stages(2, $aspect, $duration);
.stage-1, .stage-2{
    opacity: 1;
    .image{
        left: unset;
        right: 0px;
    }
}
.stage-2{
    width: 0px;
    overflow: hidden;
}
.stage{
    &:before{
        border-top-color: black;
    }
}

@include fn.mobile-view($stage-width, 'bg-mobile.png', -50%, unset, 0, 'slide');
@include fn.desktop-view($stage-width, $stage-height, 'bg.jpg', 50%, unset, 0, 'slide');