@use "../../styles/fn" as fn;
@use "../../styles/common" as *;

$stage-width: 1600px;
$stage-height: 400px;
$bg-color: black;
$navi-color: #ccc;

$aspect: #{4 / 1};
$duration: 1s;

@include fn.body($bg-color);
@include fn.navi($navi-color);
@include fn.generate-stages(2, $aspect, $duration);
.stage-1, .stage-2{
    .image{
        left: unset;
        right: 0px;
    }
}
.stage-2{
    width: 0px;
    transition: all ease-in-out 1s;
    overflow: hidden;
}
@include fn.mobile-view($stage-width, 'none', -50%, unset, 0, 'slide');
@include fn.desktop-view($stage-width, $stage-height, 'none', 50%, unset, 0, 'slide');