@use "../../styles/fn" as fn;
@use "../../styles/common" as *;

$stage-width: 1400px;
$stage-height: 1400px;
$bg-color: black;
$navi-color: #ccc;

$aspect: #{1 / 1};
$duration: 1s;

@include fn.body($bg-color);
@include fn.navi($navi-color);
@include fn.generate-stages(1, $aspect, $duration);

@include fn.mobile-view($stage-width, 'none', -20%, 0, unset);
@include fn.desktop-view($stage-width, $stage-height, 'none', 60%, 50%, unset);
