@use "../../styles/fn" as fn;
@use "../../styles/common" as *;

$stage-width: 1480px;
$stage-height: 833px;
$bg-color: #171717;
$navi-color: #ccc;

$aspect: #{16 / 9};
$duration: 1s;

@include fn.body($bg-color);
@include fn.navi($navi-color);
@include fn.generate-stages(2, $aspect, $duration);

@include fn.mobile-view($stage-width, 'none', -50%, 0, unset);
@include fn.desktop-view($stage-width, $stage-height, 'bg.png', 50%, 50%, 0);