@use "../../styles/fn" as fn;
@use "../../styles/common" as *;

$stage-width: 1650px;
$stage-height: 600px;
$bg-color: black;
$navi-color: #ccc;

$aspect: #{11 / 4};
$duration: 1s;

@include fn.body($bg-color);
@include fn.navi($navi-color);
@include fn.generate-stages(1, $aspect, $duration);

@include fn.mobile-view($stage-width, 'none', -50%, 0, unset);
@include fn.desktop-view($stage-width, $stage-height, 'bg.png', 50%, unset, 0);